<div class="form-group row">
  <%= form.text_field :email, type: 'email', class: 'form-control', placeholder: 'Email' %>
</div>

<div class="form-group row">
  <%= form.password_field :password, class: 'form-control', placeholder: 'Password' %>
</div>
