<h2>Editing Address</h2>

<%= render 'form', address: @address %>

<div class="row justify-content-center">
<%= link_to 'Show', @address %>
  &nbsp; | &nbsp;
<%= link_to 'List', addresses_path %>
</div>